#pageContent {
    max-width: 1000px;
    
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
}

#profileButton {
	float: right;
}

#img{
	height: 75px;
	width: 75px;
}

#tabContent{
	max-width: 1000px;
    
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
	
}

#footer{
	max-width: 1000px;
    
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 20px;
}

#logo{
	float: left;
	padding-right: 20px;
	border-right: 1px solid #A3A3C2;
}

#title{
	padding-top: 4px;
    padding-left: 20px;
	float: left;
	font-size: 30px;
}

#siteTitle{
	width: 1000px;
    height : 100px;
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 20px;
    display: block;
}

#line{
	max-width: 1000px;
	border-top: 1px solid #A3A3C2;
}