<div id=siteTitle>
	<div id=title>
		<p>Attendance Portal</p>
	</div>
</div>


<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div>
			<ul class="nav navbar-nav">
				<li><a href="#login">Login</a></li>
			</ul>
		</div>
	</div>
</nav>

<div id=pageContent>

	<h1>About the application: Attendance Portal</h1>
	<p>Online attendance management system deals with the maintenance of the student’s details. It is used to generate the attendance of the student on basis of their presence in class. The staff’s handling the particular subject will be responsible to update the student’s attendance, whereas the admin can update the information of adding, deleting a student or faculty whenever required</p>
	
	
</div>

<br>
<div id=line></div>

<div class="footer" id=footer>
	<div class="container">
		<div class="container-fluid">
			
				
		</div>
	</div>
</div>
