<div id=siteTitle>
	<div id=logo>
		<img
			src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/usbrazilsec.png"
			alt="" style="height: 50px"></a>
	</div>

	<div id=title>
		<p>US Brazil Workshop on Cyber Security and Privacy</p>
	</div>

</div>

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div>
			<ul class="nav navbar-nav">
				<li><a href="#home">Home</a></li>
				<li><a href="#organizers">Organizers</a></li>
				<li class="active"><a href="#schedule-br">Brasilia Workshop</a></li>
				<li><a href="#schedule-us">Orlando Workshop</a></li>
			</ul>
		</div>
	</div>
</nav>

<div id=tabContent>
	<div>
		<ul class="nav nav-tabs">
			<li><a data-toggle="tab" href="#schedule-br">Schedule</a></li>
			<li class="active"><a data-toggle="tab">Cross-Fire Collaborations</a></li>
			<li><a data-toggle="tab" href="#people-br">People</a></li>
			<li><a data-toggle="tab" href="#travel-br">Travel</a></li>
			<li><a data-toggle="tab" href="#photos-br">Photos</a></li>
		</ul>

		<div class="tab-content">
			<div id="home" class="tab-pane fade in active">
				<div id=pageContent>
					<br><br>
					<h3>Cross-Fire Collaborations – Schedule</h3>
<strong>1. Kevin Butler (University of Florida):</strong><br>
4:30-4:40pm: Jeroen van de Graaf  (Federal University of Parana) (Station 1)<br>
4:45-4:55pm: Luis Rust (Federal University of Rio de Janeiro) (Station 1)<br>
5:00-5:10pm: Altair Santin (Catholic University of Parana) (Station 1)<br>
5:15-5:25pm: Edmundo Souza e Silva (Federal University of Rio de Janeiro) (Station 1)<br><br>

<strong>2. Anna Squicciarini (Pennsylvania State University):</strong><br>
4:30-4:40pm: Mario Alvim (Federal University of Minas Gerais) (Station 2)<br>
4:45-4:55pm: Jorge H. C. Fernandes (University of Brasilia) (Station 2)<br>
5:00-5:10pm: Paulo Licio de Geus (University of Campinas) (Station 2)<br>
5:15-5:25pm: Jean Martina (Federal University of Santa Catarina) (Station 2)<br><br>

<strong>3. Guofei Gu (Texas A&M): </strong><br>
4:30-4:40pm: David Ott (Intel) (Station 3)<br>
4:45-4:55pm: Mario Alvim (Federal University of Minas Gerais) (Station 3)<br>
5:00-5:10pm: Andre Gregio  (University of Campinas) (Station 3)<br>
5:15-5:25pm: Marinho Barcellos (Federal University of Rio Grande do Sul) (Station 22)<br><br>

<strong>4. Michelle Mazurek (University of Maryland):</strong><br>
4:30-4:40pm: Daniel Batista (University of Sao Paulo) (Station 4)<br>
4:45-4:55pm: Marinho Barcellos (Federal University of Rio Grande do Sul) (Station 4)<br>
5:00-5:10pm: Daniel Figueiredo (Federal University of Rio de Janeiro) (Station 4)<br>
5:15-5:25pm: Daniela Oliveira (University of Florida) (Station 17)<br><br>

<strong>5. Patrick Traynor (University of Florida):</strong><br>
4:30-4:40pm: Marinho Barcellos (Federal University of Rio Grande do Sul) (Station 5)<br>
4:45-4:55pm: Andre Gregio  (University of Campinas) (Station 5)<br>
5:00-5:10pm: Ricardo Custodio (Federal University of Santa Catarina) (Station 5)<br>
5:15-5:25pm: Marcos Simplicio (University of Sao Paulo) (Station 3)<br><br>

<strong>6. Mark Tehranipoor (University of Florida): </strong><br>
4:30-4:40pm: Wagner Meira (Federal University of Minas Gerais) (Station 6)<br>
4:45-4:55pm: Terry Benzel (University of Southern California) (Station 6)<br>
5:00-5:10pm: Marcos Simplicio (University of Sao Paulo) (Station 6)<br>
5:15-5:25pm: Adriano Cansian (Sao Paulo State University) (Station 4)<br><br>

<strong>7. Micah Sherr (Georgetown University): </strong><br>
4:30-4:40pm: Ricardo Custodio (Federal University of Santa Catarina) (Station 7)<br>
4:45-4:55pm: Virgilio Almeida (Federal University of Minas Gerais) (Station 7)<br>
5:00-5:10pm: Diego Aranha (University of Campinas) (Station 7)<br>
5:15-5:25pm: Mario Alvim (Federal University of Minas Gerais) (Station 5)<br><br>

<strong>8. Matt Bishop (University of California Davis):</strong><br>
4:30-4:40pm: Edmundo Souza e Silva (Federal University of Rio de Janeiro) (Station 8)<br>
4:45-4:55pm: Ricardo Custodio (Federal University of Santa Catarina) (Station 8)<br>
5:00-5:10pm: Jean Martina (Federal University of Santa Catarina) (Station 8)<br>
5:15-5:25pm: Daniel Batista (University of Sao Paulo) (Station 6)<br><br>

<strong>9. William Robertson (Northeastern University): </strong><br>
4:30-4:40pm: Paulo Licio de Geus (University of Campinas) (Station 9)<br>
4:45-4:55pm: Daniel J. Ragsdale (Texas A&M) (Station 9)<br>
5:00-5:10pm: Jeroen van de Graaf  (Federal University of Parana) (Station 9)<br>
5:15-5:25pm: Raimundo Macedo (Federal University of Bahia) (Station 7)<br><br>

<strong>10. Manuel Egele (Boston University): </strong><br>
4:30-4:40pm: Diego Aranha (University of Campinas) (Station 10)<br>
4:45-4:55pm: Marcos Simplicio (University of Sao Paulo) (Station 10)<br>
5:00-5:10pm: Daniel Batista (University of Sao Paulo) (Station 10)<br>
5:15-5:25pm: Altair Santin (Catholic University of Parana) (Station 8)<br><br>

<strong>11. Nadia Heninger (University of Pennsylvania): </strong><br>
4:30-4:40pm: Joao Gondim (University of Brasilia) (Station 11)<br>
4:45-4:55pm: Daniel Batista (University of Sao Paulo) (Station 11)<br>
5:00-5:10pm: Virgilio Almeida (Federal University of Minas Gerais) (Station 11)<br>
5:15-5:25pm: Jeroen van de Graaf  (Federal University of Parana) (Station 21)<br><br>

<strong>12. Fabian Monrose (University of North Carolina Chapel Hill): </strong><br>
4:30-4:40pm: Virgilio Almeida (Federal University of Minas Gerais) (Station 12)<br>
4:45-4:55pm: Jeroen van de Graaf  (Federal University of Parana) (Station 12)<br>
4:45-4:55pm: Edmundo Souza e Silva (Federal University of Rio de Janeiro) (Station 12)<br>
5:15-5:25pm: J Diego Aranha (University of Campinas) (Station 9)<br><br>

<strong>13. Stephanie Forrest (University of New Mexico): </strong><br>
4:30-4:40pm: Luis Rust (Federal University of Rio de Janeiro) (Station 13)<br>
4:45-4:55pm: Daniel Figueiredo (Federal University of Rio de Janeiro) (Station 13)<br>
4:45-4:55pm: Wagner Meira (Federal University of Minas Gerais) (Station 13)<br>
5:15-5:25pm: Ricardo Custodio (Federal University of Santa Catarina) (Station 10)<br><br>

<strong>14. Jedidiah Crandall (University of New Mexico):</strong><br>
4:30-4:40pm: Jean Martina (Federal University of Santa Catarina) (Station 14)<br>
4:45-4:55pm: Joao Gondim (University of Brasilia) (Station 14)<br>
4:45-4:55pm: Scott Condie (Brigham Young University) (Station 16)<br>
5:15-5:25pm: Luis Rust (Federal University of Rio de Janeiro) (Station 11)<br><br>

<strong>15. Terry Benzel (University of Southern California): </strong><br>
4:30-4:40pm: Andre Gregio  (University of Campinas) (Station 15)<br>
4:45-4:55pm: Mark Tehranipoor (University of Florida) (Station 6)<br>
4:45-4:55pm: Marinho Barcellos (Federal University of Rio Grande do Sul) (Station 14)<br>
5:15-5:25pm: Daniel Figueiredo (Federal University of Rio de Janeiro) (Station 12)<br><br>

<strong>16. Marco Carvalho (Florida Institute of Technology):</strong><br>
4:30-4:40pm: Jorge H. C. Fernandes (University of Brasilia) (Station 16)<br>
4:45-4:55pm: Jean Martina (Federal University of Santa Catarina) (Station 15)<br>
4:45-4:55pm: Priscila Solis (University of Brasilia) (Station 15)<br>
5:15-5:25pm: Virgilio Almeida (Federal University of Minas Gerais) (Station 13)<br><br>

<strong>17. Scott Condie (Brigham Young University):</strong><br>
4:30-4:40pm: Adriano Cansian (Sao Paulo State University) (Station 17)<br>
4:45-4:55pm: Raimundo Macedo (Federal University of Bahia) (Station 16)<br>
4:45-4:55pm: Jedidiah Crandall (University of New Mexico) (Station 16)<br>
5:15-5:25pm: Daniel J. Ragsdale (Texas A&M) (Station 14)<br><br>

<strong>18. Dave Dittrich (University of Washington):</strong><br>
4:30-4:40pm: Raimundo Macedo (Federal University of Bahia) (Station 18)<br>
4:45-4:55pm: Altair Santin (Catholic University of Parana) (Station 17)<br>
4:45-4:55pm: Jorge H. C. Fernandes (University of Brasilia) (Station 17)<br>
5:15-5:25pm: Joao Gondim (University of Brasilia) (Station 15)<br><br>

<strong>19. Bradley Huffaker (CAIDA, University of San Diego):</strong><br>
4:30-4:40pm: Marcos Simplicio (University of Sao Paulo) (Station 19)<br>
4:45-4:55pm: Wagner Meira (Federal University of Minas Gerais) (Station 18)<br>
4:45-4:55pm: Raimundo Macedo (Federal University of Bahia) (Station 18)<br>
5:15-5:25pm: Jorge H. C. Fernandes (University of Brasilia) (Station 16)<br><br>

<strong>20. Daniela Oliveira (University of Florida): </strong><br>
4:45-4:55pm: Adriano Cansian (Sao Paulo State University) (Station 19)<br>
5:15-5:25pm: Michelle Mazurek (University of Maryland) (Station 17)<br><br>

<strong>21. Daniel J. Ragsdale (Texas A&M): </strong><br>
4:30-4:40pm: Daniel Figueiredo (Federal University of Rio de Janeiro) (Station 21)<br>
4:45-4:55pm: William Robertson (Northeastern University) (Station 9)<br>
4:45-4:55pm: Joao Gondim (University of Brasilia) (Station 20)<br>
5:15-5:25pm: Scott Condie (Brigham Young University) (Station 14)<br><br>

<strong>22. Parisa Tabriz (Google): </strong><br>
4:30-4:40pm Fabio Tagnin (Intel) (Station 22)<br>
4:45-4:55pm: Diego Aranha (University of Campinas) (Station 20)<br>
4:45-4:55pm: Mario Alvim (Federal University of Minas Gerais) (Station 22)<br>
5:15-5:25pm: Wagner Meira (Federal University of Minas Gerais) (Station 18)<br><br>

<strong>23. David Ott (Intel): </strong><br>
4:30-4:40pm Guofei Gu (Texas A&M) (Station 3)<br>
4:45-4:55pm: Paulo Licio de Geus (University of Campinas) (Station 21)<br>
4:45-4:55pm: Adriano Cansian (Sao Paulo State University) (Station 21)<br>
5:15-5:25pm: Andre Gregio (University of Campinas) (Station 19)<br><br>

<strong>24. Fabio Tagnin (Intel): </strong><br>
4:30-4:40pm: Parisa Tabriz (Google) (Station 22)<br>
4:45-4:55pm: Edmundo Souza e Silva (Federal University of Rio de Janeiro) (Station 22)<br>
5:00-5:10pm: Luis Rust (Federal University of Rio de Janeiro) (Station 19)<br>
5:15-5:25pm: Paulo Licio de Geus (University of Campinas) (Station 20)<br><br>

<strong>25. Altair Santin (Catholic University of Parana): </strong><br>
4:30-4:40pm: Priscila Solis (University of Brasilia) (Station 20)<br>
4:45-4:55pm: Dave Dittrich (University of Washington) (Station 17)<br>
5:00-5:10pm: Kevin Butler (University of Florida) (Station 1)<br>
5:15-5:25pm: Manuel Egele (Boston University) (Station 8)<br><br>

<strong>26. Mario Alvim (Federal University of Minas Gerais): </strong><br>
4:30-4:40pm: Anna Squicciarini (Pennsylvania State University) (Station 2)<br>
4:45-4:55pm: Guofei Gu (Texas A&M) (Station 3)<br>
5:00-5:10pm: Parisa Tabriz (Google) (Station 22)<br>
5:15-5:25pm: Micah Sherr (Georgetown University) (Station 5)<br><br>

<strong>27. Wagner Meira (Federal University of Minas Gerais): </strong><br>
4:30-4:40pm: Mark Tehranipoor (University of Florida) (Station 6)<br>
4:45:4:55pm: Bradley Huffaker (CAIDA, University of San Diego) (Station 18)<br>
5:00-5:10pm: Stephanie Forrest (University of New Mexico) (Station 13)<br>
5:15-5:25pm: Parisa Tabriz (Google) (Station 18)<br><br>

<strong>28. Virgilio Almeida (Federal University of Minas Gerais): </strong><br>
4:30-4:40pm: Fabian Monrose (University of North Carolina Chapel Hill) (Station 12)<br>
4:45:4:55pm: Micah Sherr (Georgetown University) (Station 7)<br>
5:00-5:10pm: Nadia Heninger (University of Pensylvania) (Station 11)<br>
5:15-5:25pm: Marco Carvalho (Florida Institute of Technology) (Station 13)<br><br>

<strong>29. Marinho Barcellos (Federal University of Rio Grande do Sul): </strong><br>
4:30-4:40pm: Patrick Traynor (University of Florida) (Station 5)<br>
4:45:4:55pm: Michelle Mazurek (University of Maryland) (Station 4)<br>
5:00-5:10pm: Terry Benzel (University of Southern California) (Station 14)<br>
5:15-5:25pm: Guofei Gu (Texas A&M) (Station 22)<br><br>

<strong>30. Luis Rust (Federal University of Rio de Janeiro): </strong><br>
4:30-4:40pm: Stephanie Forrest (University of New Mexico) (Station 13)<br>
4:45:4:55pm: Kevin Butler (University of Florida) (Station 1)<br>
5:00-5:10pm: Fabio Tagnin (Intel) (Station 19)<br>
5:15-5:25pm: Jedidiah Crandall (University of New Mexico) (Station 11)<br><br>

<strong>31. Edmundo Souza e Silva (Federal University of Rio de Janeiro): </strong><br>
4:30-4:40pm: Matt Bishop (University of California Davis) (Station 8)<br>
4:45-4:55pm: Fabio Tagnin (Intel) (Station 22)<br>
5:00-5:10pm: Fabian Monrose (University of North Carolina Chapel Hill) (Station 12)<br>
5:15-5:25pm: Kevin Butler (University of Florida) (Station 1)<br><br>

<strong>32. Daniel Figueiredo (Federal University of Rio de Janeiro):</strong><br>
4:30-4:40pm: Daniel J. Ragsdale (Texas A&M) (Station 21)<br>
4:45-4:55pm: Stephanie Forrest (University of New Mexico) (Station 13)<br>
5:00-5:10pm: Michelle Mazurek (University of Maryland) (Station 4)<br>
5:15-5:25pm: Terry Benzel (University of Southern California) (Station 12)<br><br>

<strong>33. Jean Martina (Federal University of Santa Catarina): </strong><br>
4:30-4:40pm: Jedidiah Crandall (University of New Mexico) (Station 14)<br>
4:45-4:55pm: Marco Carvalho (Florida Institute of Technology) (Station 15)<br>
5:00-5:10pm: Matt Bishop (University of California Davis) (Station 8)<br>
5:15-5:25pm: Anna Squicciarini (Pennsylvania State University) (Station 2)<br><br>

<strong>34. Joao Gondim (University of Brasilia): </strong><br>
4:30-4:40pm: Nadia Heninger (University of Pensylvania) (Station 11)<br>
4:45-4:55pm: Jedidiah Crandall (University of New Mexico) (Station 14)<br>
5:00-5:10pm: Daniel J. Ragsdale (Texas A&M) (Station 20)<br>
5:15-5:25pm: Dave Dittrich (University of Washington) (Station 15)<br><br>

<strong>35. Jorge H. C. Fernandes (University of Brasilia): </strong><br>
4:30-4:40pm: Marco Carvalho (Florida Institute of Technology) (Station 16)<br>
4:45-4:55pm: Anna Squicciarini (Pennsylvania State University) (Station 2)<br>
5:00-5:10pm: Dave Dittrich (University of Washington) (Station 17)<br>
5:15-5:25pm: Bradley Huffaker (CAIDA, University of San Diego) (Station 16)<br><br>

<strong>36. Adriano Cansian (Sao Paulo State University): </strong><br>
4:30-4:40pm: Scott Condie (Brigham Young University) (Station 17)<br>
4:45-4:55pm: Daniela Oliveira (University of Florida) (Station 19)<br>
5:00-5:10pm: David Ott (Intel) (Station 21)<br>
5:15-5:25pm: Mark Tehranipoor (University of Florida) (Station 4)<br><br>

<strong>37. Andre Gregio  (University of Campinas):</strong><br>
4:30-4:40pm: Terry Benzel (University of Southern California) (Station 15)<br>
4:45-4:55pm: Patrick Traynor (University of Florida) (Station 5)<br>
5:00-5:10pm: Guofei Gu (Texas A&M) (Station 3)<br>
5:15-5:25pm: David Ott (Intel) (Station 19)<br><br>

<strong>38. Paulo Licio de Geus (University of Campinas): </strong><br>
4:30-4:40pm: William Robertson (Northeastern University) (Station 9)<br>
4:45-4:55pm: David Ott (Intel) (Station 21)<br>
5:00-5:10pm: Anna Squicciarini (Pennsylvania State University) (Station 2)<br>
5:15-5:25pm: Fabio Tagnin (Intel) (Station 20)<br><br>

<strong>39. Diego Aranha (University of Campinas):</strong><br>
4:30-4:40pm: Manuel Egele (Boston University) (Station 10)<br>
4:45-4:55pm: Parisa Tabriz (Google) (Station 20)<br>
5:00-5:10pm: Micah Sherr (Georgetown University) (Station 7)<br>
5:15-5:25pm: Fabian Monrose (University of North Carolina Chapel Hill) (Station 9)<br><br>

<strong>40. Marcos Simplicio (University of Sao Paulo):</strong><br>
4:30-4:40pm: Bradley Huffaker (CAIDA, University of San Diego) (Station 19)<br>
4:45-4:55pm: Manuel Egele (Boston University) (Station 10)<br>
5:00-5:10pm: Mark Tehranipoor (University of Florida) (Station 6)<br>
5:15-5:25pm:  Patrick Traynor (University of Florida) (Station 3)<br><br>

<strong>41. Daniel Batista (University of Sao Paulo): </strong><br>
4:30-4:40pm: Michelle Mazurek (University of Maryland) (Station 4)<br>
4:45-4:55pm: Nadia Heninger (University of Pennsylvania) (Station 11)<br>
5:00-5:10pm: Manuel Egele (Boston University) (Station 10)<br>
5:15-5:25pm:  Matt Bishop (University of California Davis) (Station 6)<br><br>

<strong>42. Ricardo Custodio (Federal University of Santa Catarina):</strong><br>
4:30-4:40pm: Micah Sherr (Georgetown University) (Station 7)<br>
4:45-4:55pm: Matthew Bishop (University of California Davis) (Station 8)<br>
5:00-5:10pm: Patrick Traynor (University of Florida) (Station 5)<br>
5:15-5:25pm:  Stephanie Forrest (University of New Mexico) (Station 10)<br><br>

<strong>43. Raimundo Macedo (Federal University of Bahia): </strong><br>
4:30-4:40pm: Dave Dittrich (University of Washington) (Station 18)<br>
4:45-4:55pm: Scott Condie (Brigham Young University) (Station 16)<br>
5:00-5:10pm: Bradley Huffaker (CAIDA, University of San Diego) (Station 18)<br>
5:15-5:25pm:  William Robertson (Northeastern University) (Station 7)<br><br>

<strong>44. Jeroen van de Graaf  (Federal University of Parana): </strong><br>
4:30-4:40pm: Kevin Butler (University of Florida) (Station 1)<br>
4:45-4:55pm: Fabian Monrose (University of North Carolina Chapel Hill) (Station 12)<br>
5:00-5:10pm: William Robertson (Northeastern University) (Station 9)<br>
5:15-5:25pm:  Nadia Heninger (University of Pennsylvania) (Station 21)<br><br>

<strong>45. Priscila Solis (University of Brasilia): </strong><br>
4:30-4:40pm: Altair Santin (Catholic University of Parana) (Station 20 )<br>
5:00-5:10pm: Marco Carvalho (Florida Institute of Technology) (Station 15)<br><br>

<strong>46. Daniela Oliveira (University of Florida):</strong><br>
4:45-4:55pm: Adriano Cansian (Sao Paulo State University) (Station 19)<br>
5:15-5:25pm: Michelle Mazurek (University of Maryland) (Station 17)<br>
					<br><br>
				</div>
			</div>
			<div id="menu1" class="tab-pane fade">
				<h3>Menu 1</h3>
				<p>Some content in menu 1.</p>
			</div>
		</div>
	</div>
</div>


<br>
<br>
<div id=line></div>

<div class="footer" id=footer>
	<div class="container">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6">
					<div class="sponsors">
						<div class="footer-heading">US Partners</div>
						<div>
							<a href="http://www.nsf.gov/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/nsf.jpg"
								alt="" style="height: 70px"></a> <a href="http://www.dhs.gov/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/dhs.jpg"
								alt="" style="height: 70px"></a> <a href="http://www.ufl.edu/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/UF.jpg"
								alt="" style="height: 60px"></a> <a
								href="http://www.ece.ufl.edu/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/ece.jpg"
								alt="" style="height: 40px"></a> <a
								href="http://fics-institute.org/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/fics.png"
								alt="" style="height: 50px; margin-left: 8px"></a>
						</div>
					</div>
				</div>
				<div class="col-xs-6 sponsors-div">
					<div class="sponsors">
						<div class="footer-heading">Brazil Partners</div>
						<div>
							<a href="http://mcti.gov.br/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/MCTI.png"
								alt="" style="height: 90px"></a> <a
								href="http://www.ctic.rnp.br/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/Cnpq.jpg"
								alt="" style="height: 80px"></a><a href="http://www.rnp.br/en"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/RNP.png"
								alt="" style="height: 80px"></a> <a
								href="http://www.cic.unb.br/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/unb_new.png"
								alt="" style="height: 50px"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





