<div id=siteTitle>
	<div id=logo>
		<img
			src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/usbrazilsec.png"
			alt="" style="height: 50px"></a>
	</div>

	<div id=title>
		<p>US Brazil Workshop on Cyber Security and Privacy</p>
	</div>

</div>

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		
		<div>
			<ul class="nav navbar-nav">
				<li><a href="#home">Home</a></li>
				<li><a href="#organizers">Organizers</a></li>
				<li><a href="#schedule-br">Brasilia Workshop</a></li>
				<li class="active"><a href="#schedule-us">Orlando Workshop</a></li>
			</ul>
		</div>
	</div>
</nav>

<div id=tabContent>
	<div>
		<ul class="nav nav-tabs">
			<li><a data-toggle="tab" href="#schedule-us">Schedule</a></li>
			<li  class="active"><a data-toggle="tab" href="#people-us">People</a></li>
			<li><a data-toggle="tab" href="#travel-us">Travel</a></li>
		</ul>

		<div class="tab-content">
			<div id="home" class="tab-pane fade">
				<h3>HOME</h3>
				<p>Some content.</p>
			</div>
			<div id="menu1" class="tab-pane fade in active">
				<h5>Will be updated in due time</h5>
				
			</div>
		</div>
	</div>
</div>



<br>
<br>
<div id=line></div>

<div class="footer" id=footer>
	<div class="container">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6">
					<div class="sponsors">
						<div class="footer-heading">US Partners</div>
						<div>
							<a href="http://www.nsf.gov/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/nsf.jpg"
								alt="" style="height: 70px"></a> <a href="http://www.dhs.gov/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/dhs.jpg"
								alt="" style="height: 70px"></a> <a href="http://www.ufl.edu/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/UF.jpg"
								alt="" style="height: 60px"></a> <a
								href="http://www.ece.ufl.edu/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/ece.jpg"
								alt="" style="height: 40px"></a> <a
								href="http://fics-institute.org/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/fics.png"
								alt="" style="height: 50px; margin-left: 8px"></a>
						</div>
					</div>
				</div>
				<div class="col-xs-6 sponsors-div">
					<div class="sponsors">
						<div class="footer-heading">Brazil Partners</div>
						<div>
							<a href="http://mcti.gov.br/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/MCTI.png"
								alt="" style="height: 90px"></a> <a
								href="http://www.ctic.rnp.br/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/Cnpq.jpg"
								alt="" style="height: 80px"></a><a href="http://www.rnp.br/en"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/RNP.png"
								alt="" style="height: 80px"></a> <a
								href="http://www.cic.unb.br/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/unb_new.png"
								alt="" style="height: 50px"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
