<!--<div id=siteTitle>
	<div id=logo>
		<img
			src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/usbrazilsec.png"
			alt="" style="height: 90px"></a>
	</div>

	<div id=title>
		<h2>US Brazil Workshop on <br>Cyber Security and Privacy</h2>
	</div>

</div>

<!--  -->
<div id=siteTitle>
	<div id=logo>
		<img
			src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/usbrazilsec.png"
			alt="" style="height: 50px"></a>
	</div>

	<div id=title>
		<p>Attendance Portal</p>
	</div>

</div>


<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#home">Home</a></li>
				<li><a href="#organizers">Organizers</a></li>
				<li><a href="#schedule-br">Brasilia Workshop</a></li>
				<li><a href="#schedule-us">Orlando Workshop</a></li>
			</ul>
		</div>
	</div>
</nav>

<div id=pageContent>

	<h1>Overview</h1>
	<p>The goal of this workshop is to bring together, for the first
		time, American and Brazilian cyber security researchers to discuss the
		main challenges of the field, and to promote cross-collaboration and
		the building of ties among the attendees. This workshop will promote
		innovation in solving cyber security and privacy problems, by having
		the top researchers in each country, from several sub-fields sharing
		their research and brainstorming solutions for open problems in the
		area. It will also help researchers share experiences in education,
		student recruitment, career development and entrepreneurship, and get
		involved, together with their students, in international projects.</p>
	<p>This workshop will also help identify areas where US and
		Brazilian researchers are working in related areas that might make
		future collaborations possible, with the potential for future funding
		opportunities.</p>
	<p>The workshop will be organized in two meetings, one in Brazil,
		and one in the US, and will involve American and Brazilian cyber
		security researchers. The first meeting will be organized by the
		Brazilian team and will be on 3rd and 4th December 2015 at Brasilia,
		Brazil. The second meeting will organized by the US team and will be
		held on April 7 and 8 2016 at the Hyatt in Orlando, FL.</p>


</div>

<br>
<div id=line></div>

<div class="footer" id=footer>
	<div class="container">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6">
					<div class="sponsors">
						<div class="footer-heading">US Partners</div>
						<div>
							<a href="http://www.nsf.gov/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/nsf.jpg"
								alt="" style="height: 70px"></a> <a href="http://www.dhs.gov/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/dhs.jpg"
								alt="" style="height: 70px"></a> <a href="http://www.ufl.edu/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/UF.jpg"
								alt="" style="height: 60px"></a> <a
								href="http://www.ece.ufl.edu/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/ece.jpg"
								alt="" style="height: 40px"></a> <a
								href="http://fics-institute.org/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/fics.png"
								alt="" style="height: 50px; margin-left: 8px"></a>
						</div>
					</div>
				</div>
				<div class="col-xs-6 sponsors-div">
					<div class="sponsors">
						<div class="footer-heading">Brazil Partners</div>
						<div>
							<a href="http://mcti.gov.br/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/MCTI.png"
								alt="" style="height: 90px"></a> <a
								href="http://www.ctic.rnp.br/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/Cnpq.jpg"
								alt="" style="height: 80px"></a><a href="http://www.rnp.br/en"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/RNP.png"
								alt="" style="height: 80px"></a> <a
								href="http://www.cic.unb.br/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/unb_new.png"
								alt="" style="height: 50px"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
