<div id=siteTitle>
	<div id=logo>
		<img
			src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/usbrazilsec.png"
			alt="" style="height: 50px"></a>
	</div>

	<div id=title>
		<p>US Brazil Workshop on Cyber Security and Privacy</p>
	</div>

</div>


<nav class="navbar navbar-inverse">
	<div class="container-fluid">

		<div>
			<ul class="nav navbar-nav">
				<li><a href="#home">Home</a></li>
				<li><a href="#organizers">Organizers</a></li>
				<li class="active"><a href="#schedule-br">Brasilia Workshop</a></li>
				<li><a href="#schedule-us">Orlando Workshop</a></li>
			</ul>
		</div>
	</div>
</nav>

<div id=tabContent>
	<div>
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab">Schedule</a></li>
			<li><a data-toggle="tab" href="#collaboration-br">Cross-Fire
					Collaborations</a></li>
			<li><a data-toggle="tab" href="#people-br">People</a></li>
			<li><a data-toggle="tab" href="#travel-br">Travel</a></li>
			<li><a data-toggle="tab" href="#photos-br">Photos</a></li>
		</ul>

		<div class="tab-content">
			<div id="home" class="tab-pane fade in active">


				<div id=pageContent>
					<br> <br>

					<p align="center" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="5"
							style="font-size: 18pt"><b>Agenda </b></font></font>
					</p>
					<p align="center" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="center" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="5"
							style="font-size: 18pt"><b>Thursday, December 3, 2015</b></font></font>
					</p>
					<p align="center" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><b>7:30 am–5:00 pm </b></font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Registration and Badge Pickup</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><b>6:00 am–8:30 am </b></font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Breakfast buffet (Hotel)</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><b>8:30 am</b></font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Bus departs from hotel </font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font color="#000000"><font face="Arial, serif"><font
								size="3" style="font-size: 12pt"><b>9:00- 10:00am</b></font></font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Welcome</font></font>
					</p>
					<p class="western" style="margin-top: 0.13in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Celso Pansera – Ministry of State,
								Ministry of Science, Technology and Innovation, Brazil</font></font>
					</p>
					<p class="western"
						style="margin-right: 1.16in; margin-top: 0.11in; line-height: 165%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"> Douglas P. Climan - Economic
								Counselor of the US Embassy in Brazil<br> Eiiti Sato –
								Advisor for International Relations, University of Brasília
						</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Manoel Augusto Cardoso da Fonseca,
								SEPIN, Brazilian Ministry of Science, Technology and Innovation</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Jeremy Epstein - NSF Directorate
								for Computer &amp; Information Sciences &amp; Engineering and<br>
							<br> Secure and Trustworthy Cyberspace Program Director
								(SaTC)
						</font></font>
					</p>

					<p class="western" style="margin-top: 0.12in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Ambassador Benedicto Fonseca
								Filho, Director of the Division of Technological and Scientific
								Themes, Ministry<br>
							<br> of Foreign Relations, Brazil
						</font></font>
					</p>

					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><b>10:00 am – 10:30 am</b></font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Brazilian Computer Society Big
								Challenges in Security</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Raimundo Macedo (SBC) and Marinho
								Barcellos (UFRGS)</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><b>10:30 am–11:00 am </b></font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Keynote: Global Problems, Global
								Solutions: Prospecting Opportunities for Joint Research on
								Computer Security</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Marinho Barcellos (UFRGS)</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font color="#000000"><font face="Arial, serif"><font
								size="3" style="font-size: 12pt"><b>11:00-11:30</b></font></font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font color="#000000"><font face="Arial, serif"><font
								size="3" style="font-size: 12pt">Break with Refreshments</font></font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><b>11:30 am–12:15 pm </b></font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Panel: Theory x Practice Driven
								Cryptography: Future Challenges and Opportunities</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Panelists: Nadia Heninger
								(University of Pennsylvania) and Jeroen van de Graaf (UFMG)</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Moderator: Marcos Simplicio
								(University of Sao Paulo)</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><b>12:15am- 1:00pm </b></font></font>
					</p>
					<p class="western" style="line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Panel: Cyber Security Technology
								Transfer and the Education of the Next Generation of Security
								Professionals</font></font>
					</p>
					<p class="western" style="margin-top: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Panelists: Jorge Henrique Cabral
								Fernandes (UnB), Patrick Traynor, University of Florida and
								founder of Pindrop Security</font></font>
					</p>
					<p class="western" align="justify" style="margin-top: 0.11in">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Moderator: Wagner Meira, UFMG -
								Federal University of Minas Gerais</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><b>1:00-2:00pm </b></font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Lunch</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><b>2:15 pm–2:45 pm </b></font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Panel: Research Challenges for
								Secure Electronic Voting</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Panelists: Matt Bishop, University
								of California Davis, and Diego Aranha, UNICAMP - University of
								Campinas</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Moderator: Daniel Figueiredo, UFRJ
								– Federal University of Rio de Janeiro</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><b>2:45 pm–4:15 pm Breakout
									Sessions</b></font></font>
					</p>
					<p class="western" align="justify"
						style="margin-right: 0.08in; line-height: 100%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><br>Participants will choose
								a theme and can suggest other themes. The idea is to have group
								discussions on<br>
							<br> Thursday and Friday in the afternoon about challenges
								and visions for solutions and discoveries related to the <br>
							<br>subject. The group will produce a report that Priscila
								and Daniela will aggregate to a final report to<br>
							<br> NSF/DHS/MCTI. Each group will do a 10 min presentation
								on Friday with the summary of the findings.<br></font></font>
					</p>
					<p class="western" style="margin-top: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">If a theme does not have enough
								representation, it will be removed. We are looking for session
								leaders and <br>
							<br>scribes!
						</font></font>
					</p>
					<ul>
						<li><p class="western" style="margin-top: 0.1in">
								<font face="Arial, serif"><font size="3"
									style="font-size: 12pt">Cryptography and Cryptocurrency</font></font>
							</p>
						<li><p class="western" style="margin-top: 0in">
								<font face="Arial, serif"><font size="3"
									style="font-size: 12pt">Software and Hardware
										Verification for Security</font></font>
							</p>
						<li><p class="western" style="margin-top: 0in">
								<font face="Arial, serif"><font size="3"
									style="font-size: 12pt">Human Factors in Cyber Security
										and Privacy</font></font>
							</p>
						<li><p class="western"
								style="margin-right: 0.08in; margin-top: 0in; line-height: 106%">
								<font face="Arial, serif"><font size="3"
									style="font-size: 12pt"> Web security across ALL your
										devices (PC, smart phones, IoT) – Leader: Parisa Tabriz
										(Google)</font></font>
							</p>
						<li><p class="western"
								style="margin-right: 0.08in; margin-top: 0in; line-height: 106%">
								<font face="Arial, serif"><font size="3"
									style="font-size: 12pt"> Integration and Command and
										Control (C2) of Cyber Defenses – Leader: Marco Carvalho
										(Florida Institute of Technology)</font></font>
							</p>
						<li><p class="western"
								style="margin-right: 0.08in; margin-top: 0in; line-height: 106%">
								<font face="Arial, serif"><font size="3"
									style="font-size: 12pt"> <a name="_GoBack"></a> Security
										for Lightweight IoT Devices – Leader: David Ott (Intel)
								</font></font>
							</p>
						<li><p class="western"
								style="margin-top: 0in; line-height: 0.2in">
								<font face="Arial, serif"><font size="3"
									style="font-size: 12pt">Cyber Crime, Malware and
										Intrusion Detection</font></font>
							</p>
						<li><p class="western" style="margin-top: 0in">
								<font face="Arial, serif"><font size="3"
									style="font-size: 12pt">Science of Cyber Security</font></font>
							</p>
					</ul>
					<p align="justify"
						style="margin-left: 0.5in; margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><b>4:15 pm–4:30pm </b></font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Break with refreshments</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><b>4:30 pm–5:30 pm </b></font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Rapid-Fire Cross-Collaborations</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">One-on-one scheduled meetings with
								other attendees. Pairs will be selected randomly between an
								American and<br>
							<br> a Brazilian researcher to provoke inter-field
								discussions and opportunities.
						</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><b>5:45</b></font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Bus departs from University of
								Brasilia to the Hotel</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><b>7:30pm - 10:00pm</b></font></font>
					</p>
					<p class="western" align="justify">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Reception and Social Event –
								Rubaiyat Restaurant</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="center" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="5"
							style="font-size: 18pt"><b>Friday, December 4, 2015</b></font></font>
					</p>
					<p align="center" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><b>7:30 am–5:00 pm </b></font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Registration and Badge Pickup</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><b>6:00 am–8:30 am </b></font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Breakfast buffet (Hotel)</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><b>8:30</b></font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Bus departs from Hotel to the
								University of Brasilia</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><b>9:00 – 9:30 am </b></font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Opening Session</font></font>
					</p>
					<p class="western" style="margin-top: 0.13in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">José Jair Wermann, Technical
								Scientific Division, Department of Homeland Security. Brazil</font></font>
					</p>
					<p class="western" style="margin-top: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Jim Kurose, Assistant Director,
								Directorate for Computer &amp; Information Sciences &amp;
								Engineering;</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Douglas Maughan, Division
								Director, Department of Homeland Security; </font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><b>9:30 am–10:30 am </b></font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Funding Opportunities for
								US-Brazil Collaborations</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Wanderson Paim, CTIC, Center for
								Research and Development in Digital Technologies for Information
								and Communication</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font color="#000000"><font face="Arial, serif"><font
								size="3" style="font-size: 12pt">Wenjing Lou</font></font></font><font
							face="Arial, serif"><font size="3" style="font-size: 12pt">,
						</font></font><font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Program Director, NSF Secure and
								Trustworthy Cyberspace Program</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Moderator: Edmundo Souza e Silva,
								UFRJ - Federal University of Rio de Janeiro</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><b>10:30 am–11:00 am </b></font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Break with Refreshments</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><b>11:00 am–11:45 am </b></font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Panel: Are Privacy and Security
								Mutually Exclusive?</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Michelle Mazurek, University of
								Maryland, and Mario Alvim, UFMG – Federal University of Minas
								Gerais</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Moderator: Jean Martina, UFSC -
								Universidade Federal de Santa Catarina</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><b>11:45 am–12:30 pm </b></font></font>
					</p>
					<p class="western" style="margin-right: 3.16in; line-height: 165%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Malware, Intrusion Detection and
								Cyber Crime<br> Andre Gregio, CTI-RENATO ARCHER<br> Manuel Egele, Boston
								University</font></font>
					</p>
					<p class="western" style="margin-top: 0in">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Moderator: Ricardo Custodio, UFSC
								– Federal University of Santa Catarina</font></font><br><br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><b>12:30 pm–1:30 pm </b></font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Lunch</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><b>1:30 pm–2:45 pm </b></font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Breakout sessions continue</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><b>2:45 – 3:15pm </b></font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Break with Refreshments</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><b>3:15 – 4:30pm </b></font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt">Breakout session presents summary
								of reports</font></font>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<br> <br>
					</p>
					<p align="justify" style="margin-bottom: 0.11in; line-height: 107%">
						<font face="Arial, serif"><font size="3"
							style="font-size: 12pt"><b>4:30 Closing Session</b></font></font>
					</p>
					<p style="margin-bottom: 0.11in; line-height: 107%"></p>

				</div>
			</div>
			<div id="menu1" class="tab-pane fade">
				<h3>Menu 1</h3>
				<p>Some content in menu 1.</p>
			</div>
		</div>
		<div id="menu2" class="tab-pane fade">
			<h3>Menu 1</h3>
			<p>Some content in menu 1.</p>
		</div>
	</div>
</div>

<div id=line></div>

<div class="footer" id=footer>
	<div class="container">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6">
					<div class="sponsors">
						<div class="footer-heading">US Partners</div>
						<div>
							<a href="http://www.nsf.gov/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/nsf.jpg"
								alt="" style="height: 70px"></a> <a href="http://www.dhs.gov/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/dhs.jpg"
								alt="" style="height: 70px"></a> <a href="http://www.ufl.edu/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/UF.jpg"
								alt="" style="height: 60px"></a> <a
								href="http://www.ece.ufl.edu/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/ece.jpg"
								alt="" style="height: 40px"></a> <a
								href="http://fics-institute.org/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/fics.png"
								alt="" style="height: 50px; margin-left: 8px"></a>
						</div>
					</div>
				</div>
				<div class="col-xs-6 sponsors-div">
					<div class="sponsors">
						<div class="footer-heading">Brazil Partners</div>
						<div>
							<a href="http://mcti.gov.br/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/MCTI.png"
								alt="" style="height: 90px"></a> <a
								href="http://www.ctic.rnp.br/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/Cnpq.jpg"
								alt="" style="height: 80px"></a><a href="http://www.rnp.br/en"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/RNP.png"
								alt="" style="height: 80px"></a> <a
								href="http://www.cic.unb.br/"><img
								src="https://s3-us-west-2.amazonaws.com/usbrazilcybersecurityworkshop/unb_new.png"
								alt="" style="height: 50px"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
