<div id=siteTitle>
	<div id=title>
		<p>Attendance Portal</p>
	</div>
</div>


<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div>
			<ul class="nav navbar-nav">
				<li><a href="#studentAttendanceView/{{id}}">View Attendance</a></li>
				<li><a href="#login">Logout</a></li>
			</ul>
		</div>
	</div>
</nav>

<div id=pageContent>

	<h1>Student Page</h1>
	<p>Welcome student. Your ID: {{id}}</p>
	
	
</div>

<br>
<div id=line></div>

<div class="footer" id=footer>
	<div class="container">
		<div class="container-fluid">
			
				
		</div>
	</div>
</div>
